@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import './variables.scss';
@import './mixins.scss';


* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'PT Sans',sans-serif;
}


body {
    color : white;
    font-family : "PT Sans",sans-serif;
    perspective : 2px;
    overflow-x : hidden;
    position: relative;

}


button {
    outline : none;
    border : none;
    cursor : pointer;
}


section {
    height: 100vh;
}

a {
    text-decoration : none;
}




nav {

    display: flex;
    align-items: center;
    width: 100%;
    padding : 1rem 1.4rem;
    transition : height .5s ease;
    background-color : #303030;
    @include respond('mobile') {
        padding : 1.4rem;
    }
    h1 {
        letter-spacing : 3px;
        @include font-scale($font-size : 2rem);
        transition : all .5s ease;
        margin : 0;
    }

    .nav-list {
        width: 100%;
        position: relative;
        margin-left : 2rem;
        transition : all .5s ease;
        &-link {
            color : rgb(243, 243, 243);
            display: inline-block;
            cursor : pointer;

            a {
                color : white;
            }
        }

        &-auth {
            display: inline-block;
            position: absolute;
            margin-top : -.5rem;
            right : 0;

            button  {
                font-family: 'PT Sans', sans-serif;
                font-weight: 600;
                font-size : 1.2rem;
                padding : .75rem 1.5rem;
                outline : none;
                border-radius: 3px;
                color : white;
            }

            .btn-signup {
                background-color : #F06292;
            }

            .btn-login  {
                background-color: transparent;
            }
        }

        // Media query 
        @include respond('mobile') {
            display: none;
        }
    }
    
    li {
        list-style : none;
        transition : all .5s ease;
        font-family: 'PT Sans',sans-serif;
        @include font-scale($font-size : 1.3rem);
        display : inline-block;
        margin : .5rem;
    }

    .hamburger-wrapper {
        visibility: hidden;
        
        button {
            width: 60px;
            height : 60px;
            padding : .5rem;
            background-color: #242424;
            border-radius : 4px;
            

            div {
                width: 100%;
                height : 4px;
                background-color : white;
                border-radius  : 2px;
                margin : .5rem 0rem;
                transition : transform .4s ease;
            }
        }
        @include respond('mobile') {
            visibility: visible;
            position : fixed;
            top : .6rem;
            right : .6rem;
        }
    }


}


@include respond('mobile') {
    .nav-active {
        height: 100vh;
        position: fixed;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(61, 61, 61);
        z-index: 2;
    
        h1 {
            text-align: center;
            font-size : 2.5rem;
        }
    
        .nav-list {
            display: block;
            justify-content: center; 
            margin : 0;       
    
            &-link,
            &-auth {
                text-align: center;
                margin : 2rem 0rem;
                display: block;
                position: relative;
 
                li  {
                    margin : 2rem 0rem;
                    display: block;
                    font-size : 1rem;

                }
            }

            &-link {
                li {
                    font-size : 2rem;
                }
            }
    
            &-auth  {
                li {
                    display: inline-block;
                    margin : .5rem;
                    
                    button {
                        font-size : 1.7rem;
                    }
                }
            }
        }
    
        .hamburger-wrapper {
            button {
    
                div {
                    margin : 0 auto;
    
                }
                div:nth-child(1) {
                    transform : translateY(4.5px) rotate(45deg);
                }
    
                div:nth-child(2) {
                    opacity : 0;
                }
    
                div:nth-child(3) {
                    transform : translateY(-4.5px) rotate(-45deg);
                }
            }
        }
    }
}