block append style
    link(rel="stylesheet", href=`${baseAssets}/css/footer.css`)

footer 
    div.brand
        h1.main-title WaiRent
        p.brand-sub-title Let's rent a waifu now !
        p WaiRentCS@gmail.com
    div.pages
        h1.main-title Page
        ul 
            li.list-item
                a(href = "/") Home
            li.list-item
                a(href = "/") Rent
            li.list-item
                a(href = "/") Buy
    div.contact
        ul 
            li.list-item 
                i( class="fab fa-facebook-square")
            li.list-item 
                i( class="fab fa-instagram-square")
