block append style
    link(rel="stylesheet", href=`${baseAssets}/css/footer.css`)

footer 
    div.brand
        h1.main-title WaiRent
        p.brand-sub-title Let's rent a waifu now !
        p WaiRentCS@gmail.com
    div.pages
        h1.main-title Page
        ul 
            li.list-item
                a(href = "/") Home
            li.list-item
                a(href = "/waifu") Rent Waifu
            li.list-item
                a(href = "/about") About
    div.contact
        ul 
            li.list-item
                a(href="https://www.facebook.com/juan.ewaldo.351/" target="__blank") 
                    i( class="fab fa-facebook-square")
            li.list-item 
                a(href="https://www.instagram.com/juanewaldo/" target="__blank")
                    i( class="fab fa-instagram-square")
