nav
    h1 WaiRent
    div.nav-list
        ul.nav-list-link
            li.nav-item
                a(href = "/") Home
            li.nav-item
                a(href = "/waifu") Waifu
            li.nav-item
                a(href = "/cart") Cart
            if user
                li.nav-item
                    a(href = `${baseURL}/profile`) Profile
        ul.nav-list-auth
            if !user            
                li
                    a( href="/auth/sign-up").btn-signup Sign Up
                li
                    a( href="/auth/login").btn-login Login
            else 
                li
                    p.username Hi,#{user["username"]}
                li 
                    a( href=`${baseURL}/profile/topup`).btn-top-up
                        i.fas.fa-plus
                li 
                    a( href="/auth/logout").btn-logout
                        i.fas.fa-sign-out-alt
    div.hamburger-wrapper
        button#act-nav
            div
            div
            div
        