<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/f40c32a411.js" crossorigin="anonymous"></script>
    <title>Baka</title>
</head>
<body>
    <nav class="">
        <h1>WaiRent</h1>
        <div class="nav-list">
            <ul class="nav-list-link">
                <li class="nav-item">Home</li>
                <li class="nav-item">Waifu</li>
                <li class="nav-item">Cart</li>
            </ul>
            <ul class="nav-list-auth">
                <li>
                    <button class="btn-signup">Sign Up</button>
                </li>
                <li>
                    <button class="btn-login" >Login</button>
                </li>
            </ul>
        </div>
        <div class="hamburger-wrapper">
            <button id="act-nav">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </div>
    </nav>
    <section id="jumbotron">
        <div class="caption">
            <h1>TEst Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, laudantium!</h1>
            <h1 class="translate-x" data-speed="-0.6" >Get your waifu here</h1>
            <h3 class="translate-x" data-speed="-0.45" >Lets rent your waifu or top waifu in WaiRent</h3>
            <p class="translate-x" data-speed="-0.3" >WaiRent is a web for renting waifu this web was created inspired by Kanojo Okarishimasu</p>
            <button class="translate-y" data-speed="0.4">
                Let's Rent
            </button>
        </div>
        <div class="img">
            <img src="../assets/img/Char.png" class="translate-y" data-speed="0.2" alt="">
            <div class="bottom-oval"></div>
        </div>
    </section>
    <section id="waifu">
        <h1 class="title">Top Waifus</h1>
        <div class="card-wrapper">
            <div class="waifu-card">
                <h2 class="waifu-card-title">Emilia</h2>
                <h3 class="waifu-card-price">$8000/hour</h3>
                <img src="../assets/img/emilia-removebg-preview.png" class="waifu-card-img" alt="">
                <div class="waifu-card-content">
                        <div class="tags">
                            <p>Bakso</p>
                            <p>17th</p>
                            <p>Playing VR</p>
                            <p>Bakso</p>
                        </div>
                        <p class="waifu-desc">Playing Lorem ipsumius eligendi optio neque excepturi voluptas, facilis aliquam repudiandae itaque! Dignissimos, nam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae aut doloremque illum. Voluptatibus aspernatur ratione eius quis minima mollitia esse?</p>
                </div>
                <a href="#" class="btn-detail" >See Details</a>
            </div>
            <div class="waifu-card">
                <h2 class="waifu-card-title">Yuuki Asuna</h2>
                <h3 class="waifu-card-price">$8000/hour</h3>
                <img src="../assets/img/asuna.png" class="waifu-card-img" alt="">
                <div class="waifu-card-content">
                        <div class="tags">
                            <p>Bakso</p>
                            <p>17th</p>
                            <p>Playing VR</p>
                            <p>Bakso</p>
                        </div>
                        <p class="waifu-desc" >Playing Lorem  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, veritatis. Eveniet suscipit, explicabo impedit itaque labore pariatur officiis ipsa similique. ipsum dolor sit amet consectetur, adipisicing elit. Eius eligendi optio neque excepturi voluptas, facilis aliquam repudiandae itaque! Dignissimos, nam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae aut doloremque illum. Voluptatibus aspernatur ratione eius quis minima mollitia esse?</p>
                </div>
                <a href="#" class="btn-detail" >See Details</a>
            </div>
            <div class="waifu-card">
                <h2 class="waifu-card-title">Zero Two</h2>
                <h3 class="waifu-card-price">$8000/hour</h3>
                <img src="../assets/img/Zero-two.png" class="waifu-card-img" alt="">
                <div class="waifu-card-content">
                        <div class="tags">
                            <p>Bakso</p>
                            <p>17th</p>
                            <p>Playing VR</p>
                            <p>Bakso</p>
                        </div>
                        <p class="waifu-desc" >Playing Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius eligendi optio neque excepturi voluptas, facilis aliquam repudiandae itaque! Dignissimos, nam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae aut doloremque illum. Voluptatibus aspernatur ratione eius quis minima mollitia esse?</p>
                </div>
                <a href="#" class="btn-detail" >See Details</a>
            </div>
        </div>
        
        </section>
    </section>
    
    <section id="choose-type">
        <div class="type-wrapper">
            <div class="long-hair">
                <h1 class="title-type">Long Hair</h1>
            </div>
            <div class="short-hair">
                <h1 class="title-type">Short Hair</h1>
            </div>
    </section>

    <section id="testimoni">
        <h1 class="testimoni-title">What Our Customers Say ?</h1>
        <div class="testimoni-wrapper">
            <div class="card card-testi-1">
                <img src="./assets/img/asuna-avatar.jpg" class="user-avatar" alt="">
                <h1 class="card-title">Zuans</h1>
                <p class="card-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci, quae assumenda quod repudiandae voluptas accusantium sint nemo. Accusamus, dignissimos!
                </p>
            </div>
            <div class="card card-testi-2">
                <img src="./assets/img/hekkel.jpeg" class="user-avatar" alt="">
                <h1 class="card-title">Zuans</h1>
                <p class="card-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci, quae assumenda quod repudiandae voluptas accusantium sint nemo. Accusamus, dignissimos!
                </p>
            </div>
            <div class="card card-testi-3">
                <img src="" class="user-avatar" alt="">
                <h1 class="card-title">Zuans</h1>
                <p class="card-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci, quae assumenda quod repudiandae voluptas accusantium sint nemo. Accusamus, dignissimos!
                </p>
            </div>
        </div>
    </section>
    <script src="../assets/js/script.js"></script>
</body>
</html>